
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">Yosuniiiii bord</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('main.index') }}">Home</a>
        </li>
        {% if not g.user %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.login')}}">로그인</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.signup')}}">계정생성</a>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        {% if g.user %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.logout')}}">{{ g.user.username }} (로그아웃)</a>
<!--          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
        </li>
        {% endif %}
      </ul>
<!--      <form class="d-flex">-->
<!--        <input class="form-control me-2 kw" value="{{ kw or '' }}" type="search" placeholder="Search" -->
<!--               aria-label="Search" >-->
<!--        <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--      </form>-->
    </div>
  </div>
</nav>












<!--&lt;!&ndash;&lt;!&ndash;내비게이션 바 !!&ndash;&gt;&ndash;&gt;-->
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">-->
<!--    <a class="navbar-brand" href="{{ url_for('main.index') }}"> Pybo</a>-->
<!--    <button class="navbar-toggler ml-auto"-->
<!--            type="button" data-toggle="collapse"-->
<!--            data-target="#navbarNav" aria-controls="navbarNav"-->
<!--            aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">-->
<!--        {% if g.user %}-->
<!--        <ul class="navbar-nav">-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="{{ url_for('auth.logout')}}">{{ g.user.username }} (로그아웃)</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--        {% else %}-->
<!--        <ul class="navbar-nav">-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="{{ url_for('auth.signup')}}">계정생성</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="{{ url_for('auth.login')}}">로그인</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--        {% endif %}-->
<!--    </div>-->
<!--</nav>-->
